.main-container {
  background: #373837;
  min-height: 99vh;
}

.book-button {
  width: 200px;
}

/* form classes */
.form-width {
  min-width: 250px;
  max-width: 300px;
}

.image-size-in-form {
  height: 200px;
  border-radius: 5px;
}

@media screen and (min-width: 300px) {
  .form-width {
    min-width: 290px;
    max-width: 500px;
  }
}

@media screen and (min-width: 500px) {
  .form-width {
    min-width: 480px;
    max-width: 600px;
  }
}

@media screen and (min-width: 700px) {
  .form-width {
    min-width: 700px;
    max-width: 800px;
  }
}
